body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #b0c4de;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-right {
  font-size: 19px;
}

.jumbotron {
  background-color: #F8F8F8;
}

.breadcrumb {
  background-color: #F8F8F8;
}