<!-------------------------------------------------------------------->
 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/img/FirstSlide.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Bring Your PopCorn and You Are OUT!!</h1>
              <p class="lead">This is an area of free popcorn. </p>

            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/img/SecondSlide.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Enjoy the Movie</h1>
              <p class="lead">One of the most recommended rude movie theaters in history, like it or not we are the best So we hope you Enjoy it, <br> </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/img/ThirdSlide.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Opend Since you are a baby</h1>
              <p class="lead">We are running this business since you were a little baby, So don't tell us how to run it...</p>
              <a class="btn btn-large btn-primary" href="Tour.html">Check for a tour near You</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->