{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %}Home {% endblock %}
{% block content %}
{% include '_carousel.html' %}

<body>



  <div class="container marketing">




      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="../static/img/kyle.png" height="150" width="150">
        <h2 class="featurette-heading">Do i Know You. <span class="muted">kyle Andrew McGinn.</span></h2>
        <p class="lead">i'm a famous movie star who usually get recognise easily especially in the popcorn stand, so i thought to give this theatre a shot, and guess what it Worked. for the first time i actually watched the movie and enjoyed it without the hassle of signing autographs.</p>
      </div>
      <br>
            <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../static/img/popcorn.png" height="150" width="150">
        <div align="center"><h2 class="featurette-heading"> Oh yeah, it's that good. <span class="muted">Brian Saganey.</span></h2></div>
        <div align="center"><p class="lead" &nbsp;>although brian hide his affection of popcorn the rest of the group know his secret love affair, however they decided to not do any action because his talent was irreplaceable</p></div>
      </div>
        <br>
      <hr class="featurette-divider">
        <br>
      <div class="featurette">
        <img class="featurette-image pull-right" src="../static/img/mitchell.jpg" height="150" width="150">
        <h2 class="featurette-heading">Silence please. <span class="muted">Mitchell Hewitt.</span></h2>
        <p class="lead">i'm the kind of guy who enjoy peace and quiet, and how we can enjoy the movie with all these nachos and popcorn noises, i went to the movies and had so much fun, that i recommend to there again and again.</p>
      </div>
        <br>
      <hr class="featurette-divider">
        <br>

      <div class="featurette">
        <img class="featurette-image pull-left" src="../static/img/ahmad.jpg" height="150" width="150">
        <div align="center"><h2 class="featurette-heading"> No Popcorn No tooth pain  <span class="muted">Ahmad M.Meer.</span></h2></div>
        <div align="center"><p class="lead" >&nbsp; Ahmad Was a fan of the motion picture when was two days old. however the popcorn   process where it get stuck under his teeth was a horrible experience, so he gathered his   friends and suggested a free popcorn movie theater.</p></div>
      </div>
        <br>
      <hr class="featurette-divider">
        <br>
      <div class="featurette">
        <img class="featurette-image pull-right" src="../static/img/anonymous.jpg" height="150" width="150">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">ada72.</span></h2>
        <p class="lead"> Honestly who is this guy no one Knows.</p>
      </div>
        <br><br><br>

      <hr class="featurette-divider">
</div>

</body>



{% endblock %}