{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %}Home {% endblock %}
{% block content %}
{% include '_carousel.html' %}

<body>

   <div class="row-fluid">
        <div class="span6">
          <h1 align="center"> About the Stars</h1>
          <h2>Kyle Andrew McGinn</h2>
          <p> Your Bio goes Here. </p>
          <div align="right">Your mag goes Here.</div>
        </div>
        <div class="span6">
          <h2>Brian Saganey</h2>
          <p>I like music, movies, good clothes, fast cars, and whiskey. what else you need to know. </p>
          <div align="right">Your mag goes Here.</div>
       </div>
        <div class="span6">
          <h2>Ahmad M.Meer</h2>
          <p>    Ahmad Was a fan of the motion picture when was two days old. however the popcorn process where it get stuck under his teeth was a horrible experience, so he gathered his friends and suggested a free popcorn movie theater.</p>
          <div align="right"> pioneer magazine </div>

        </div>
           <div class="span6">
          <h2>Mitchell Hewitt</h2>
          <p>Your Bio goes here Mitchell </p>
          <div align="right"> 3D maggzine </div>
        </div>

       <div class="span6">
          <h2> mistories person</h2>
          <p>His Bio goes here </p>
          <div align="right">uncorporate magazine</div>
       </div>


      </div>

</body>



{% endblock %}