{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %}Home {% endblock %}
{% block content %}
{% include '_carousel.html' %}

<body>

   <div class="row-fluid">
        <div class="span6">
          <h1 align="center"> About the Stars</h1>
          <h2>Kyle Andrew McGinn</h2>
          <p> Your Bio goes Here. </p>
          <footer>Your mag goes Here.</footer>
        </div>
        <div class="span6">
          <h2>Brian Saganey</h2>
          <p>Your Bio goes Here. </p>
          <footer>Your mag goes Here.</footer>
       </div>
        <div class="span6">
          <h2>Ahmad M.Meer</h2>
          <p>Your Bio goes Here.</p>
          <footer>--Billboard</footer>
        </div>
           <div class="span6">
          <h2>Mitchell Hewitt</h2>
          <p>Your Bio goes here Mitchell </p>
          <footer>3D maggzine</footer>
       </div>

       <div class="span6">
          <h2> mistories person</h2>
          <p>His Bio goes here </p>
          <footer> uncorporate magazine </footer>
       </div>


      </div>

</body>



{% endblock %}