{% extends "base.html" %}

{% block nav-movies %}class="active"{% endblock %}
{% block titleBlock %} Movies{% endblock %}
{% block content %}

<table style="width:50%" style="height:100%" border=1 frame=void rules=rows align="center">
<h1 align="center"> -Top 15 Movies-</h1>
    <tr>
    	<th height="50">Name</th>
    	<th height="50">Synopsis</th>
    </tr>
    {% for item in movies %}
    <tr>
    	<th height="25">{{ item.name }}</th>
    	<th height="25">{{ item.description }}</th>
    </tr>
  {% endfor %}
</table>

{% endblock %}