{% extends "base.html" %}


{% block nav-performances %}class="active"{% endblock %}
{% block titleBlock %} Performance {% endblock %}
{% block content %}
<table style="width:50%" style="height:100%" border=1 frame=void rules=rows align="center">
<h1 align="center"> Upcoming Performance</h1>
    <tr>
    	<th height="50">Dates</th>
    	<th height="50">Artists</th>
    	<th height="50">Genres</th>
    	<th height="50">Tickets</th>
    </tr>
    {% for item in performances %}
    <tr>
    	<th height="25">{{ item.date }}</th>
    	<th height="25">{{ item.name }}</th>
    	<th height="25">{{ item.genre }}</th>
    	<th height="25">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
          </button>
        </th>
    </tr>
  {% endfor %}
</table>



{% endblock %}