{% extends "base.html" %}

{% block nav-store %}class="active"{% endblock %}
{% block titleBlock %}Store{% endblock %}

{% block page_style %}
{#    Any CSS specific to this page will go inside of this block.   #}
    .input {
  width: 44px;
    }

{% endblock %}

{% block content %}

{#    Any content associated with the page will go inside of this block.    #}
    <table style="width:50%" style="height:100%" border=1 frame=void rules=rows align="center">

    <h1 align="center"> Shop Till You Drop</h1>
    <tr>
    	<th height="50">item</th>
    	<th height="50">description</th>
    	<th height="50">price</th>
        <th height="50">thumbnail</th>
    </tr>
    {% for item in store %}
    <tr>
    	<th height="25">{{ item.item }}</th>
    	<th height="25">{{ item.description }}</th>
    	<th height="25">{{ item.price }}</th>
    	<th height="25">{{ item.thumbnail }}</th>
    </tr>
  {% endfor %}
    {% endblock %}

{% block js %}
{#    Insert any JavaScript here         #}
{% endblock %}