{% extends "base.html" %}

{% block nav-store %}class="active"{% endblock %}
{% block titleBlock %}Store{% endblock %}


<body>

{% block content %}

    <table style="width:90%" style="height:100%" border=1 frame=void rules=rows align="center">

    <h1 align="center"> Shop Till You Drop</h1>
    <br>
    {% for item in store %}
    <div class="row" style="margin-bottom:30px;">
            <div class="col-xs-3">
              <img src="{{ STATIC_URL }}{{ item.thumbnail }}" class="img-responsive"  align="left"alt=""/>
            </div>
            <div class="col-xs-6">
                <h3 style="font-weight:800;">{{ item.item }}</h3>
                {{item.description  }}
               <p> {{item.price  }}</p>
                   <input class= "input" type="number" value="quantity" />
                <button type="button" class="btn btn-primary" style="background:#FF0000 !important; border:1px solid #99FFFF !important;">Add to cart</button></p>
            </div>
        </div>
        <hr/>
  {% endfor %}





</table>
</body>
{% endblock %}