{% extends "base.html" %}

{% block nav-store %}class="active"{% endblock %}
{% block titleBlock %}Store{% endblock %}


<body>

{% block content %}

    <table style="width:90%" style="height:100%" border=1 frame=void rules=rows align="center">

    <h1 align="center"> Shop Till You Drop</h1>
    <tr>
    	<th height="50">item</th><br>
    	<th height="50">description</th><br>
    	<th height="50">price</th><br>
        <th height="50">thumbnail</th><br>
    </tr>
    {% for item in store %}
    <tr>
    	&nbsp;<th height="25">{{ item.item }}</th>&nbsp;
    	&nbsp;<th height="25">{{ item.description }}&nbsp;
    	&nbsp;<th height="25">{{ item.price }}</th>&nbsp;
    	&nbsp;<th height="25">{{ item.thumbnail }}</th> &nbsp;
    </tr>
  {% endfor %}





</table>
</body>
{% endblock %}